################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
ChampollionGUI_Update/bak/
ChampollionGUI_Update/bin/
ChampollionGUI_Update/obj/
notes.txt